  .selectDate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .days-btn{
    display: flex;
    margin-top: 1%;
  }

  .day-btn{
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color); 
    cursor: pointer;
  }

  .input-container {
    text-align: center;
  }
  
  input[type="date"] {
    width: 200px; 
    height: 40px; 
    font-size: 16px; 
    margin-inline: 10px;
  }
  
  .buttonYesterday{
    color: black;
    background: orange;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonToday{
    color: wheat;
    background: green;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }