.timesheet_item {
    border: 1px solid #CCCCCC;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-btn{
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color); 
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: inline-end;
}

.timesheet_info{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.timesheet_checkbox{
    display: flex;
}

input[type="checkbox"] {
    width: 25px; 
    height: 25px;
  }