*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-container {
  text-align: center;
}

input[type="date"] {
  width: 200px; /* Любая ширина, которая вам нужна */
  height: 40px; /* Любая высота, которая вам нужна */
  font-size: 16px; /* Любой размер шрифта, который вам нужен */
}